                <div class="col-md-12">
                    <% if user_signed_in? %>
                        <h2>Welcome back to the neighbors' circle!!</h2>
    
                    <% else %>
                        <p>Welcome to the neighbors' circle!!</p>
                    <% end %>
            </div>